<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавим пользователя</title>
</head>
<body>
<header th:insert="blocks/header::header"></header>
<h1>Добавить участника</h1>
<p th:text="${text1}" />
<form action="add" method="post">


    <input type="text" name="email" placeholder="email" ><br>
    <input type="text" name="name" placeholder="имя" ><br>
    <input type="text" name="middle_name" placeholder="отчество" ><br>
    <input type="text" name="surname" placeholder="фамилия" ><br>
    <select name="role">
        <option th:each="role : ${T(ru.university.app.university.models.Role).values()}"
                th:value="${role}"
                th:text="${role.getDisplayName()}">
        </option>
    </select>
    <br>
    <select name="status">
        <option th:each="status : ${T(ru.university.app.university.models.Status).values()}"
                th:value="${status}"
                th:text="${status.getDisplayName()}">
        </option>
    </select>
    <br>


    <button type="submit" class="btn btn-success">добавить</button>
</form>


</body>
</html>