<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавим пользователя</title>
</head>
<body>
<h1>Добавить участника</h1>
<form action="add" method="post">

    <input type="text" name="email" placeholder="email" class="form-control"><br>
    <input type="text" name="name" placeholder="имя" class="form-control"><br>
    <input type="text" name="middle_name" placeholder="отчество" class="form-control"><br>
    <input type="text" name="surname" placeholder="фамилия" class="form-control"><br>



    <button type="submit" class="btn btn-success">добавить</button>
</form>


</body>
</html>