<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
</head>
<body>
<header th:insert="blocks/header::header"></header>
<h1>Список пользователей</h1>
<form method="post" action="all"><a>Поиск по фамилии</a><input type="text" name="filter">
<button type="submit">поиск</button> </form>

<table class="table table-striped">
    <tr>
        <td>ID</td>
        <td>Фамилия</td>
        <td>Имя</td>
        <td>Отчество</td>
        <td>Роль</td>
        <td></td>
    </tr>

<tr th:each="el:${user}">
        <td th:text="${el.id}"/>
        <td th:text="${el.surname}"/>
        <td th:text="${el.name}"/>
        <td th:text="${el.middle_name}"/>
        <td th:text="${el.role}"/>
        <td><a th:href="'/admin/details/'+${el.id}">Подробнее</a></td>
</tr>
</table>
<a href="/admin/add">Создать</a>
</body>
</html>