<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:insert="blocks/header::header"></header>
<table class="table table-striped">
    <tr>
        <td>ID</td>
        <td>Фамилия</td>
        <td>Имя</td>
        <td>Отчество</td>
        <td>Активен/заблокирован</td>
        <td>Роль</td>
        <td></td>
    </tr>
    <tr th:each="el:${user}">
        <td th:text="${el.id}"/>
        <td th:text="${el.surname}"/>
        <td th:text="${el.name}"/>
        <td th:text="${el.middle_name}"/>
        <td th:text="${el.email}"/>
        <td th:text="${el.status}"/>
        <td th:text="${el.role}"/>
        <td><form method="post" th:action="'/admin/details/'+${el.id}+'/delete'"> <button type="submit">удалить</button></form></td>
        <td><form method="get" th:action="'/admin/details/'+${el.id}+'/edit'"> <button type="submit">редактировать</button></form></td>

    </tr>
</table>
</body>
</html>