<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>
</head>
<body>
<header th:insert="blocks/header::header"></header>
<h1>Редактирование пользователя</h1>
<form action="edit" method="post">
    <table class="table table-striped">
        <tr>
            <td>ID</td>
            <td>Фамилия</td>
            <td>Имя</td>
            <td>Отчество</td>
            <td>Активен/заблокирован</td>
            <td>Роль</td>
            <td></td>
        </tr>
        <tr th:each="el:${user}">
            <td><input type="text" th:value="${el.surname}" name="surname" class="form-control"></td>
            <td><input type="text" th:value="${el.name}" name="name" class="form-control"></td>
            <td><input type="text" th:value="${el.middle_name}" name="middle_name" class="form-control"></td>
            <td><input type="text" th:value="${el.email}" name="email" class="form-control"></td>
            <td>
                <select name="status">
                    <option th:each="status : ${T(ru.university.app.university.models.Status).values()}"
                            th:value="${status}"
                            th:text="${status.getDisplayName()}">
                    </option>
                </select>

            <td>
            <select name="role">
                <option th:each="role : ${T(ru.university.app.university.models.Role).values()}"
                        th:value="${role}"
                        th:text="${role.getDisplayName()}">
                </option>
            </select>
        </tr>
    </table>
    <a th:text name="massage"></a>
    <button type="submit" class="btn btn-success">Обновить</button>
</form>
</body>
</html>