<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:insert="blocks/header::header"></header>
<h1>Назначение группы преподавателям</h1>
<form action="add" method="post">
    <select name="user">
        <option value=""> Преподаватель </option>
        <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.surname}"></option>
    </select>
    <select name="discipline">
        <option value=""> Дисциплина </option>
        <option th:each="discipline : ${disciplines}" th:value="${discipline.id}" th:text="${discipline.name}"></option>
    </select>

    <button type="submit" class="btn btn-success">добавить</button>
</form>

</body>
</html>