<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Дисциплины преподавателей</title>
</head>
<body>
<header th:insert="blocks/header::header"></header>
<h1>Дисциплины преподавателей</h1>
<form action="all" method="get">
    <table class="table table-striped">
        <tr>
            <td>ID</td>
            <td>Преподаватель</td>
            <td>Дисциплина</td>
        </tr>

        <tr th:each="el:${list}">
            <td th:text="${el.id}"/>
            <td th:text="${el.userUniversity.getSurname()}"/>
            <td th:text="${el.discipline.getName}"/>
        </tr>
    </table>
</form>
<a href="/ListOfDisciplines/add">Создать</a>
</body>
</html>