<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить группу</title>
</head>
<body>
<h1>Добавитьучебную группу</h1>
<form action="add" method="post">
    <input type="text" name="group_name" placeholder="название группы" class="form-control"><br>
    <input type="text" name="studentCount" placeholder="Количество студентов" class="form-control"><br>
    <input type="text" name="course" placeholder="курс" class="form-control"><br>
    <input type="text" name="specialty" placeholder="специальность" class="form-control"><br>


    <button type="submit" class="btn btn-success">добавить</button>
</form>


</body>
</html>