<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить группу</title>
</head>
<body>
<header th:insert="blocks/header::header"></header>
<h1>Добавитьучебную группу</h1>
<form action="add" method="post">
    <input type="text" name="group_name" placeholder="название группы" ><br>
    <input type="text" name="studentCount" placeholder="Количество студентов" ><br>
    <select name="course">
        <option th:each="course : ${T(ru.university.app.university.models.Course).values()}"
                th:value="${course}"
                th:text="${course}">
        </option>
    </select>
    <br>
    <select name="specialty">
        <option th:each="specialty : ${T(ru.university.app.university.models.Specialty).values()}"
                th:value="${specialty}"
                th:text="${specialty}">
        </option>
    </select>
    <br>
    <button type="submit" class="btn btn-success">добавить</button>
</form>
</body>
</html>