<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Учебные группы</title>
</head>
<body>

<header th:insert="blocks/header::header"></header>

<h1>Учебные группы</h1>
<form method="post" action="all">
<a>Поиск по названию</a><input name="filter" type="text"/>
<button type="submit">Поиск</button>
</form>
<table class="table table-striped">
    <tr>
        <td>ID</td>
        <td>Название группы</td>
        <td>Количество студентов</td>
        <td>Курс</td>
        <td>Спецальность</td>
        <td></td>
    </tr>
<tr th:each="el:${group}">
        <td th:text="${el.id}"/>
        <td th:text="${el.groupName}"/>
        <td th:text="${el.studentCount}"/>
        <td th:text="${el.course}"/>
        <td th:text="${el.specialty}"/>
        <td><a th:href="'/group/details/'+${el.id}">Подробнее</a></td>
</tr>
</table>

<form action="/group/add">
    <button type="submit">Создать</button>
</form>
</body>
</html>