<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Добавить дисциплину</title>
</head>
<body>
<header th:insert="blocks/header::header"></header>
<h1>Добавить дисциплину</h1>
<form action="add" method="post">
    <input type="text" name="name" placeholder="название дисциплины" ><br>
    <input type="text" name="lectures" placeholder="Количество лекций" ><br>
    <input type="text" name="practices" placeholder="Количество практик" ><br>
    <input type="text" name="labs" placeholder="Количество лабораторных" ><br>
    <input type="text" name="consultations" placeholder="консультаций" ><br>
    <select name="specialty">
        <option th:each="specialty : ${T(ru.university.app.university.models.Specialty).values()}"
                th:value="${specialty}"
                th:text="${specialty.getDisplayName()}">
        </option>
    </select>
    <br>
    <select name="course">
        <option th:each="course : ${T(ru.university.app.university.models.Course).values()}"
                th:value="${course}"
                th:text="${course.getDisplayName()}">
        </option>
    </select>
    <table>
        <tr>
            <td></td>
            <td>есть</td>
            <td>нет</td>
        </tr>
        <tr>
            <td>Контрольная работа</td>
            <td><input type="checkbox" name="controlWork" value="true"></td>
            <td><input type="checkbox" name="controlWork" value="false" ></td>
        </tr>

        <tr>
            <td>Курсовая работа</td>
            <td><input type="checkbox" name="courseWork" value="true" ></td>
            <td><input type="checkbox" name="courseWork" value="false" ></td>
        </tr>

        <tr>
            <td>Экзамен</td>
            <td><input type="checkbox" name="exam" value="true" ></td>
            <td><input type="checkbox" name="exam" value="false" ></td>
        </tr>

        <tr>
            <td>Зачет</td>
            <td><input type="checkbox" name="zachet" value="true" ></td>
            <td><input type="checkbox" name="zachet" value="false" ></td>
        </tr>

    </table>

    <button type="submit" class="btn btn-success">добавить</button>
</form>
</body>
</html>