<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Учебные дисциплины</title>
</head>
<body>
<header th:insert="blocks/header::header"></header>
<h1>Учебные дисциплины</h1>
<table class="table table-striped">

        <tr>
                <td>ID</td>
                <td>Дисциплина</td>
                <td>Спецальность</td>
                <td>Лекции</td>
                <td>Практические работы</td>
                <td>Лабораторные работы</td>
                <td>Консультации</td>
                <td>Контрольная работа</td>
                <td>Курсовая работа</td>
                <td>Экзамен</td>
                <td>Зачет</td>
                <td></td>

        </tr>
<tr th:each="el:${discipline}">
        <td th:text="${el.id}"/>
        <td th:text="${el.name}"/>
        <td th:text="${el.specialty}"/>
        <td th:text="${el.lectures}"/>
        <td th:text="${el.practices}"/>
        <td th:text="${el.labs}"/>
        <td th:text="${el.consultations}"/>
        <td th:text="${el.controlWork}"/>
        <td th:text="${el.courseWork}"/>
        <td th:text="${el.exam}"/>
        <td th:text="${el.zachet}"/>
        <td><a th:href="'/discipline/details/'+${el.id}">Подробнее</a></td>
</tr>
</table>
<a href="/discipline/add">Создать</a>
</body>
</html>