<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr th:each="el:${group}">
        <td th:text="${el.id}"/>
        <td th:text="${el.groupName}"/>
        <td th:text="${el.studentCount}"/>
        <td th:text="${el.course}"/>
        <td th:text="${el.specialty}"/>
        <td><form method="post" th:action="'/group/details/'+${el.id}+'/delete'"> <button type="submit">удалить</button></form></td>
        <td><form method="get" th:action="'/group/details/'+${el.id}+'/edit'"> <button type="submit">редактировать</button></form></td>

    </tr>
</table>
</body>
</html>