<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование дисциплины</title>
</head>
<body>
<header th:insert="blocks/header::header"></header>
<h1>Редактирование дисциплины</h1>
<form action="edit" method="post">
    <table>
        <tr th:each="el:${array}">
            <td><input type="text" th:value="${el.name}" name="name" class="form-control"></td>
            <td>
                <select name="specialty">
                    <option th:each="specialty : ${T(ru.university.app.university.models.Specialty).values()}"
                            th:value="${el.specialty}"
                            th:text="${el.specialty}">
                    </option>
                </select>

            </td>
            <td><input type="text" th:value="${el.lectures}" name="lectures" class="form-control"></td>
            <td><input type="text" th:value="${el.practices}" name="practices" class="form-control"></td>
            <td><input type="text" th:value="${el.labs}" name="labs" class="form-control"></td>
            <td><input type="text" th:value="${el.consultations}" name="consultations" class="form-control"></td>
            <td><input type="text" th:value="${el.controlWork}" name="controlWork" class="form-control"></td>
            <td><input type="text" th:value="${el.courseWork}" name="courseWork" class="form-control"></td>
            <td><input type="text" th:value="${el.exam}" name="exam" class="form-control"></td>
            <td><input type="text" th:value="${el.zachet}" name="zachet" class="form-control"></td>

        </tr>
    </table>
    <button type="submit" class="btn btn-success">Обновить</button>
</form>
</body>
</html>